@font-face {
  font-family: charm;
  src: url(/fonts/Charm-Regular.ttf);
}

@font-face {
  font-family: charm;
  font-weight: bold;
  src: url(/fonts/Charm-Bold.ttf);
}

@font-face {
  font-family: robotoCond;
  src: url(/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: robotoCond;
  font-weight: bold;
  src: url(/fonts/RobotoCondensed-Bold.ttf);
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 12px;
  background: url(/img/fondo.png);
  font-family: 'robotoCond';
}

.flexR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.container {
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.contentProgressbar {
  width: 100%;
  height: 7px;
  background: #333;
  position: fixed;
  top: 0px;
  z-index: 2500;
}

.progressbar {
  width: 0%;
  height: 100%;
  background: crimson;
}

.footer {
  width: 100%;
  height: 3.75em;
  font-size: .9em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #D3BC78;
}

.header {
  width: 100%;
  height: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2000;
  top: 7px;
  left: 0;
}

.imgLogo {
  display: none;
  width: 40%;
  max-width: 220px;
  height: 70px;
}

.styleFonts, .navbar-Title .Title, .navbar-Title .Titles, .linkJaque {
  width: 100%;
  height: auto;
  display: block;
  font-family: "charm";
  font-style: italic;
  color: #D9C054;
}

.navbar-Title {
  width: 100%;
  height: 100%;
  text-align: center;
}

.navbar-Title .Title, .Titles {
  font-size: 1.7em;
}

.navbar-Title .Titles {
  font-weight: bold;
  margin-left: -11px;
  margin-top: -9px;
}

.entrada {
  width: 100%;
  height: 100vh;
  background: url(/img/fondo1.jpg);
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.entrada:before {
  content: "";
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.questions {
  width: 100%;
  height: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  z-index: 1500;
  bottom: -57px;
}

.questions .imgQ {
  width: 150px;
}

.questions .imgP {
  display: none;
  width: 180px;
  margin-left: 35px;
}

.reproductor {
  width: 100%;
  height: 180px;
  bottom: -32px;
  position: relative;
  z-index: 1500;
}

.negocios {
  width: 100%;
  height: auto;
  bottom: -6px;
  position: relative;
  z-index: 2000;
}

.negocios p {
  font-size: 1.35em;
  text-align: center;
  color: #D9C054;
  margin: 0px 15px 15px 15px;
}

.negocioLinks {
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: -10px;
}

.negocioLinks .negocio1 {
  display: inline-block;
  font-size: 1.1em;
  letter-spacing: .7px;
  padding: 10px 15px;
  width: 140px;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  background: #0c303f;
  opacity: 0.5;
  -webkit-box-shadow: 1px 2px 1px 0px #92a0aa;
          box-shadow: 1px 2px 1px 0px #92a0aa;
}

.negocioLinks .negocio1:nth-child(2) {
  width: 130px;
}

.negocio1:hover {
  opacity: 1;
}

.contenidoLing {
  width: 98%;
  height: auto;
  position: absolute;
  z-index: 2000;
  top: 35%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgLing img {
  display: none;
  width: 6.8em;
  height: 10em;
}

.pLing {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}

.pLing p {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 32px;
  color: #D9C054;
  text-align: justify;
}

.iframe {
  width: 95%;
  height: 92%;
  margin: 0 auto;
}

.contenido {
  background: rgba(211, 188, 120, 0.4);
  padding: 20px;
  margin-top: 2px;
}

.contenido h2 {
  text-align: center;
  margin-bottom: 15px;
}

.contenido p {
  text-align: justify;
  line-height: 25px;
}

.parrafos {
  font-size: 1.3em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 45px;
  color: #A59266;
}

.otroContenido {
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

.columnSmall {
  width: 100%;
  height: auto;
}

.columnSmall h2 {
  font-size: 1.5em;
  color: #D9C054;
  text-align: center;
  font-style: italic;
}

.columnSmall p {
  font-size: 1.2em;
  text-align: justify;
  padding: 5px 10px;
}

.promoContent {
  width: 100%;
  height: auto;
  padding: 10px;
}

.promoContent p {
  font-size: 2.5em;
  font-weight: bold;
  color: red;
  text-align: center;
}

.contentPromo {
  width: 100%;
  height: auto;
  margin-top: 2px;
  background: #bf962e;
  background: linear-gradient(45deg, #bf962e 0%, #ebd371 43%, #ebd371 59%, #bf962e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf962e', endColorstr='#bf962e',GradientType=1 );
}

.contentPromo h2 {
  font-size: 3em;
  text-align: center;
  color: crimson;
  letter-spacing: 1px;
}

.contentPromo p {
  font-size: 1.3em;
}

.realce {
  font-size: 1.5em;
  font-weight: bold;
  color: crimson;
  font-style: normal;
}

.contentPromo1 {
  width: 100%;
  height: 100%;
}

.contentPromo1 p {
  text-align: justify;
  padding-right: 25px;
}

.contentPromo2 {
  width: 100%;
  height: 100%;
}

.contentPromo2 img {
  width: 100%;
  height: 100%;
}

.global {
  width: 100%;
  font-size: 2.1em;
  font-style: italic;
  position: relative;
  z-index: 1500;
  text-align: center;
  color: #D9C054;
  padding: 5px;
}

.client, .clientComprador, .socioComerc, .testimonios {
  width: 100%;
  height: auto;
  background: #0c303f;
  padding: 15px 0;
}

.titleCliente {
  text-align: center;
  font-size: 2em;
  font-family: "charm";
  color: #fff;
}

.contentInterno {
  width: 100%;
  height: auto;
}

.contentInterno > .reproductor {
  margin-top: -15px;
}

.contentParrafos {
  width: 100%;
  height: auto;
  margin-top: 30px;
  padding: 5px;
}

.pClComprador {
  font-size: 1.25em;
  text-align: justify;
  padding: 10px;
}

.linkJaque {
  font-style: normal;
  display: inline;
}

.socioComerc {
  position: relative;
}

.socioComerc .titleCliente {
  position: relative;
  bottom: -160px;
}

.socioComerc > .contentInterno > .contentParrafos {
  position: relative;
  bottom: -20px;
}

.socioComerc > .contentInterno > .reproductor {
  margin-top: 150px;
}

.contact {
  width: 3em;
  height: 3em;
  position: fixed;
  z-index: 2000;
  background-image: url(/img/Contact.png);
  background-size: 3.1em;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  bottom: 0.25em;
  right: 0.94em;
}

.contact:hover {
  cursor: pointer;
}

.modal {
  display: none;
  width: 24em;
  height: 24em;
  position: fixed;
  z-index: 2000;
  background: #ECE0A6;
  border-radius: 3px;
  left: 6%;
  top: 18%;
  padding: 20px;
  margin: 0 auto;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}

.close {
  width: 1.5em;
  height: 1.5em;
  position: relative;
  float: right;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  opacity: 0.2;
  top: -8px;
}

.close a {
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  color: #f54da1;
}

.close:hover {
  opacity: 0.8;
}

.titleModal {
  width: 100%;
  height: auto;
}

.titleModal h2 {
  color: lightcoral;
  font-family: charm;
  font-size: 1.35em;
  text-align: center;
  position: relative;
  top: -10px;
}

.parrafoModal {
  font-size: 1em;
  line-height: 25px;
  text-align: justify;
}

.modal .phone {
  width: 100%;
  max-width: 15.5em;
  height: auto;
  margin: 5px auto;
}

.testimonios {
  height: 150px;
}
/*# sourceMappingURL=main.css.map */