@media screen and (max-width: 1200px) {
  body {font-size: 18px;}
  .header {height: 85px;}
  .navbar-Title {height: 100%;align-items: center;}
  .navbar-Title .Title, .Titles {margin-left: 120px;}
  .navbar-Title .Titles {margin-left: .02px;}
  .questions > .imgP {display: none;}
  .contenidoLing {top: 33.5%;} 
}
  
@media screen and (max-width: 992px) {
  body {font-size: 16px;}
  .header {height: 75px;}
  .navbar-Title {height: 100%;align-items: center;}
  .navbar-Title .Title, .Titles {margin-left: 120px;}
  .navbar-Title .Titles {margin-left: .02px;}
  .questions > .imgP {display: none;}
  
}

@media screen and (max-width: 716px) {
  body {font-size: 14px;}
  .navbar-Title .Titles {left: 15px;}
  .contentCenter {height: 170px;top: 25px;}
  .contentReprod {top: -15px;}
  .questions .imgQ:nth-child(2) {display: none;}  
  .negocios {
    width: 100%;
    height: 120px;
    position: relative;
    top: -80px;
    align-items: center;
    p {
      text-align: center;
    }
  }
  .negocioLinks {
    width: 90%;
    height: auto;
    flex-flow: row wrap;
    justify-content: space-around;    
  }
  .negocioLinks .negocio1:nth-child(1) {margin: .1px 0;}  
  .global {
    top: 40px;
  }

}
  
@media screen and (max-width: 639px) {
  body {
    font-size: 13px;
  }
  .imgLogo {
    display: none;
  }
  .navbar-Title {
    width: 100%;
    height: 70px;
    margin: 0 auto;
  }
  .contentCenter {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .questions {
    width: 100%;
    height: auto;
    margin: 35px 0;
  }
  .contentReprod {
    width: 100%;
    height: 150px;
    justify-content: center;
    .reproductor {
      width: 90%;
      height: auto;
    }
  }
  .negocios {
    display: none;
  }
  .global {
    top: -5px;
  }

  .clientComprador, .contentInterno, .reproductor, .contentParrafos, .pClComprador, .socioComerc {
    width: 100%;
    height: auto;
  }
  .contentInterno {
    flex-flow: column wrap;
    .reproductor {
      max-width: 95%;
    }
  }
  
  .contentParrafos {
    padding: 0;
    .pClComprador {
      display: inline-block;
      padding: 0;
      margin-top: 15px;
    }
  }

  .lingContent {
    width: 85%;
    height: auto;
    .imgLing {display: none;}
    .pLing {
      width: 80%;
      height: auto;
      text-align: justify;
    }
  }


  .promoContent {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  
  .promoContent p {
    font-size: 2.5em;
    font-weight: bold;
    color: red;
    text-align: center;
  }
  
  .contentPromo {
    width: 100%;
    height: auto;
    flex-flow: column wrap;
  }
    
  .contentPromo h2 {
    font-size: 3em;
    text-align: center;
    color: crimson;
    letter-spacing: 1px;
  }
    
  .contentPromo p {
    font-size: 1.3em;
    text-align: center;
  }
  
  .realce {
    font-size: 1.5em;      
  }
  
  .contentPromo1 {
    width: 100%;
    height: auto;
  }
  
  .contentPromo1 p {text-align: justify;}
  
  .contentPromo2, .contentPromo2 img {
    width: 100%;
    height: auto;
  }
  
  .otroContenido {
    width: 100%;
    height: 1400px;
    flex-flow: column wrap;
    border: 2px solid tomato;
  }
  .small {
    width: 100%;
    height: auto;
    .h3Title {text-align: center;}
    .iframe {width: 90%;height: 140px;}
  }
}