.client, .clientComprador, .socioComerc, .testimonios {
  width: 100%;
  height: 700px;
  background: #0c303f;
  padding: 20px 30px;
}
  
.titleCliente {
  text-align: center;
  font-size: 2em;
  font-family: "charm";
  color: #fff;
}
  
  .pClComprador {
    font-size: 1.25em;
    text-align: justify;
    padding: 10px 20px;
  }
  
.contentInterno {
  width: 100%;
  height: 300px;
  justify-content: space-evenly;
  align-items: center;
}
  
.contentInterno > .reproductor {
  width: 38%;
  max-width: 35%;
  height: 250px;
}
  
.clientComprador > .contentInterno .reproductor {
  margin-top: -1px;
}
  
.contentParrafos {
  width: 62%;
  height: 100%;
  padding: 5px;
}

.linkJaque {
  font-style: normal;
  display: inline;
}

.socioComerc {
  position: relative;
}

.socioComerc .titleCliente {
  position: relative;
  bottom: -120px;
}

.socioComerc > .contentInterno > .contentParrafos {
  position: relative;
  bottom: -60px;
}
  
.socioComerc > .contentInterno > .reproductor {
  margin-top: 160px;
}
  
.uno {
  margin-top: 65px;
}
  
