.contenidoLing {
  width: 100%;
  height: 250px;
  background: #0c303f;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  
}

.lingContent {
  width: 68%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0;
}
  
.imgLing {width: 16%;height: auto;}  
.imgLing img {width: 6.8em;height: 10em;}  
.pLing {width: 46%;height: auto;}  
.pLing p {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 35px;
  color: #D9C054;
  text-align: justify;
}
  
.iframe {
  width: 95%;
  height: 92%;
  margin: 0 auto;
}
  
.contenido {
    background: rgba(211, 188, 120, 0.4);
    padding: 20px;
    margin-top: 2px;
}
.contenido h2 {text-align: center;margin-bottom: 15px;}  
.contenido p {text-align: justify;line-height: 25px;}
  
.parrafos {
  font-size: 1.3em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 45px;
  color: #A59266;
}

.otroContenido {
  width: 100%;
  height: 490px;
  justify-content: space-around;
  align-items: center;
  margin-top: 8px;
}
  
.columnSmall {
  width: 23.7%;
  height: auto;
  font-size: 0.93em;
}
  
.columnSmall h3 {
    color: #D9C054;
    text-align: center;
    font-style: italic;
}

.columnSmall p {
  padding: 15px 10px 0 10px;
  text-align: justify;
}