.entrada {
    width: 100%;
    height: 100vh;
    background: url(/img/fondo1.jpg);
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    justify-content: space-around;
}
  
.entrada:before {
    content: "";
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.contentCenter {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1500;
    top: 75px;
    justify-content: space-evenly;
}
  
.questions {margin-top: 10px;align-items: center;}  
.questions .imgQ {width: 150px;}  
.questions .imgP {width: 180px;margin-left: 35px;}

.contentReprod {
    width: 35%;
    height: 180px;
    position: relative;
    z-index: 1500;  
    top: 40px;
}

.contentReprod > .reproductor {
    width: 98%;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 1500;
}
.negocios p {
    font-size: 1.4em;
    text-align: justify;
    color: #D9C054;
    margin: 0px 15px 15px 15px;
}
    
.negocioLinks {
  width: 100%;
  align-items: center;
}
    
.negocioLinks .negocio1 {
  display: block;
  font-size: 1.15em;
  text-align: center;
  letter-spacing: 1px;
  padding: 15px 30px;
  width: 250px;
  color: #fff;
  border-radius: 50px;
  background: #0c303f;
  opacity: 0.5;
  box-shadow: 1px 2px 1px 0px #92a0aa;
}
  
.negocioLinks .negocio1:nth-child(1) {margin-bottom: 25px;}  
.negocio1:hover {opacity: 1;font-weight: bold;}
  
.global {
  width: 100%;
  font-size: 1.8em;
  font-style: italic;
  position: relative;
  z-index: 1500;
  text-align: center;
  color: #D9C054;
  display: flex;
  justify-content: center;
  top: 5px;
}