.header {
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2000;
    top: 7px;
    left: 0;
}  
.imgLogo {width: 40%;max-width: 220px;height: 70px;}
.styleFonts, .navbar-Title .Title, .navbar-Title .Titles, .linkJaque {
    width: 100%;
    height: auto;
    display: block;
    font-family: "charm";
    font-style: italic;
    color: #D9C054;
}  
.navbar-Title {width: 60%;height: 100%;}
.navbar-Title .Title {font-size: 1.65em;margin-bottom: -17px;}
.navbar-Title .Titles {font-size: 1.8em;font-weight: bold;margin-left: -76px;}